/* @media only screen and (min-width: 300px) {
    .wrapper {
        margin: 0%;
}
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        margin: 0%;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
}

li a {
    padding: 1em;
} 

} */

/* ul {
     list-style-type: none;
    margin: 0; 
    display: flex;
}

li a {
    padding: 1em;
}  */

